<!doctype html>
<html>

<head>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://gridstackjs.com/node_modules/gridstack/dist/gridstack.min.css"/>
    <script src="https://gridstackjs.com/node_modules/gridstack/dist/gridstack-all.js"></script>
<style>
.trash-tooltip {
  position: absolute;
  background-color: white;
  right: 35px;
  top: -1px;
  z-index: 1;
  border: 3px solid grey;
}
.trash-restore {
  position: absolute;
  background-color: white;
  right: 20px;
  top: -10px;
  z-index: 1;
  border: 3px solid grey;
}
.cell-mask {
  position:absolute;
  left:0;
  top:0;
  background: rgba(255,255,255,.1);
  width:100%;
  height:100%;
  cursor: move;
}
.trash-item {
  border-radius: 10px;
  border: 2px;
  border-style: solid;
}
.trash-cell-mask {
    position:absolute;
    left:0;
    top:0;
    background: rgba(255,255,255,0);
    width:100%;
    height:100%;
}
</style>
</head>

<body>
    <div id="app">
        <v-app>
    <v-system-bar
      app
      height="50"
      color="blue"
    >
      <div v-if="edit">
        <v-icon
          color="white"
        >
          mdi-pencil
        </v-icon>
        <span style="color:white; font-weight: bold;">
          You're editing this presentation.
        </span>
        <v-btn
          small
          color="grey lighten-5"
          elevation="0"
          class="blue--text ml-2 mr-1"
        >
          Cancel
        </v-btn>
        <v-btn
          small
          color="grey lighten-5"
          elevation="0"
          class="blue--text ml-1"
          @click="edit = !edit"
        >
          Save
        </v-btn>
      </div>
      <div v-else>
        <v-btn
          small
          color="grey lighten-5"
          elevation="0"
          class="blue--text ml-2 mr-1"
          @click="edit = !edit"
        >
          Edit
        </v-btn>
        <v-btn
          small
          color="grey lighten-5"
          elevation="0"
          class="blue--text ml-1"
        >
          Download
        </v-btn>
      </div>
    </v-system-bar>
    <v-app-bar
      v-if="edit && trash.length > 0"
      class="d-flex justify-end"
      app
      fixed
      flat
      clipped-right
    >
      <v-tooltip right>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            large
            color="grey darken-2"
            style="margin-right: 250px;"
            v-bind="attrs"
            v-on="on"
            @click="drawerTrash = !drawerTrash"
          >
            mdi-delete
          </v-icon>
        </template>
        <span v-if="drawerTrash">Close the trash</span>
        <span v-else>Open the trash</span>
      </v-tooltip>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawerTrash"
      :width="500"
      app
      clipped
      right
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          active-class="deep-grey--text text--accent-4"
        >
  <v-list-item
    class="mt-5"
    v-for="trashItem in trash"
  >
    <div
      class="trash-restore"
    >
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="grey darken-2"
            v-bind="attrs"
            v-on="on"
            @click="restoreCell(trashItem)"
          >
            mdi-undo
          </v-icon>
        </template>
        <span>Restore</span>
      </v-tooltip>
    </div>
    <iframe scrolling="yes" class="trash-item" style="height: 100%; width: 100%; background-color:white;"></iframe>
    <div class="trash-cell-mask"></div>
  </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
            <v-main>
                <v-container>

      <div id="dashboard" class="h-screen w-screen flex flex-col items-center bg-gray-100 p-10">
        <section class="grid-stack h-full w-full">
        </section>
      </div>
                </div>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</body>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          grid: undefined,
          cells:
          // start variable to change
            [
              { id: 1, html: '<p>first cell</p>', "gs-id": 1, "gs-x": 1,  "gs-y": 1, "gs-w": 1, "gs-h": 3},
              { id: 2, html: '<p>second cell</p>', "gs-id": 2, "gs-x": 6,  "gs-y": 1, "gs-w": 2, "gs-h": 1}
          ],
          trash: [],
          // end variable to change
          drawerTrash: false,
          edit: false
        },
        computed: {
          cellsGridstack() {
            const result = []
            for (var i = 0; i < this.cells.length; i++) {
              const cell = this.cells[i]
              const { html, ...cellGridstack } = cell
              result.push(cellGridstack)
            }
            return result
          }
        },
        mounted: function () {
          this.grid = GridStack.init({
            acceptWidgets: true,
            float: false,
            cellHeight: '70px',
            minRow: 1,
            margin: '5px',
          })
          if(!this.edit) {
            this.grid.enableMove(false)
            this.grid.enableResize(false)
          }
          this.cells.forEach((cell, index) => {
            this.addWidget(cell)
          })
        },
  methods : {
    addWidget (cell) {
    const elStr = ` 
          <div
            class="grid-stack-item"
          >
            <div class="grid-stack-item-content">
                <v-hover v-slot="{ hover }">
                  <v-card
                    height="100%"
                    width="100%"
                  >
                     <div
                       v-if="hover && edit"
                       class="trash-tooltip"
                     >
                       <v-tooltip left>
                         <template v-slot:activator="{ on, attrs }">
                           <v-icon
                             large
                             color="grey darken-2"
                             v-bind="attrs"
                             v-on="on"
                           >
                             mdi-delete
                           </v-icon>
                         </template>
                         <span>Delete</span>
                       </v-tooltip>
                     </div>
                     <iframe class="kurde" scrolling="yes" style="height: 100%; width: 100%; background-color:white;"></iframe>
                     <div v-if="edit" class="cell-mask"></div>
                  </v-card>
                </v-hover>
            </div>
          </div>
      `
          this.grid.addWidget(elStr, {w: 3})
          const iframeEls = document.getElementsByClassName("kurde")
            const iframeEl = iframeEls[iframeEls.length-1]
            const iframe = iframeEl.contentWindow.document
            iframe.write(cell.html)
            iframe.close()
    },
    async deleteCell (cellArg) {
      const cellId = cellArg['gs-id']
      const cellEl = this.grid.engine.nodes.find(
        x => String(x.id) === String(cellId)
      ).el
      this.grid.removeWidget(cellEl) 
      const cell = this.cells.find(
        x => String(x.id) === String(cellId)
      )
      this.trash.push(cell)
      await this.$nextTick()
      this.updateTrashIframe(cell.html)
      console.log('aaa')
      console.log(this.cells)
      // this.cells = this.cells.filter(cell => String(cell.id) != String(cellId))
      console.log('bbb')
      console.log(this.cells)
    },
    updateTrashIframe(html) {
      const trashItemsEl = document.getElementsByClassName("trash-item")
      const iframeEl = trashItemsEl[trashItemsEl.length - 1]
      const iframe = iframeEl.contentWindow.document
      iframe.write(html)
      iframe.close()
    },
    async restoreCell (trashItem) {
      this.cells = this.cells.filter(cell => String(cell.id) != String(trashItem.id))
      await this.$nextTick()
      const cell = {
        id: trashItem.id,
        'gs-id': trashItem.id,
        html: trashItem.html,
        'gs-x': trashItem['gs-x'],
        'gs-y': trashItem['gs-y'],
        'gs-w': trashItem['gs-w'],
        'gs-h': trashItem['gs-h']
      }
      this.cells.push(cell)
      await this.$nextTick()
      this.grid.makeWidget(`#${cell.id}`)
      this.trash = this.trash.filter(x => {
         return x.id != trashItem.id
       })
      this.updateIframe(trashItem.id, trashItem.html)
      await this.$nextTick()
      // this.cells.shift()
      console.log(this.cells.length)
      // this.cells = this.cells.filter(cell => String(cell.id) != String(trashItem.id))
    },
    updateIframe(gsId, html) {
      const iframeEl = document.querySelectorAll(`[gs-id="${gsId}"]`)[0].getElementsByTagName("iframe")[0]
      const iframe = iframeEl.contentWindow.document
      iframe.write(html)
      iframe.close()
    },
  },
  watch: {
    edit() {
      if(this.edit) {
        this.grid.enableMove(true)
        this.grid.enableResize(true)
      } else {
        this.grid.enableMove(false)
        this.grid.enableResize(false)
      }
    },
    trash () {
      if(this.trash.length == 0 && this.drawerTrash) {
        this.drawerTrash = false
      }
    }
  }
    })
</script>

</html>
